/* You can add global styles to this file, and also import other style files */

/* ===== RESET ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


/* ===== BASE ==========*/
:root {
  font-size: 100%;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* ===== DIRECTIVES ==========*/
.red {
  color: #e35e6b;
}

.v-middle {
  vertical-align: middle;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}
